html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-size: 0.8em;

    @include font-body;
}

#main {
    background: rgba($background, 0.6);
}

a {
    color: $blue;

    &:hover {
        background-color: $white;
        color: $black;
    }
}

img {
    vertical-align: middle;
}

h1,
h2,
h3 {
    @include font-heading;
}

h1 {
    font-size: 2rem;
    padding-top: 5px;
}

h2 {
    font-size: 1.5rem;
    padding-top: 4px;
}

h3 {
    font-size: 1.2rem;
    padding-top: 3px;
}

.content {
    padding: $base-spacing * 2;
    flex-grow: 1;
}

.lower {
    display: flex;
    justify-content: stretch;
    padding-top: 54px;
    height: 100vh;
}

.box-content {
    padding: $base-spacing * 2;
}

.resource-metal {
    color: #EEEEEE;
}

.resource-mineral {
    color: #E33E4C;
}

.resource-food {
    color: #73aa35;
}

.resource-energy {
    color: #6596DA;
}

.workers {
    color: #EAC861;
}

table.collapsed {
    border: none;
    margin: 0;
    border-collapse: collapsed;
    table-layout: auto;

    td,
    th {
        border: none;
        padding: 0.22em;
    }
}

table.striped {
    table-layout: auto;
    margin: 0;

    th,
    td {
        padding: 0.3em 0.8em;
        line-height: 28px;

        &:first-child {
            padding-left: 0.5em;
        }
    }

    th {
        background: linear-gradient(darken($grey-dark, 5%), $grey-dark);
        border-bottom: 2px solid $grey-light;
    }

    td {
        background-color: $grey;
    }

    tr:nth-child(2n) {
        td {
            background-color: darken($grey, 3%);
        }
    }
}

path.button {
    fill: $blue;

    &:hover {
        fill: #fff;
    }
}

ul.queue {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
        border: 1px solid $grey-light;
        padding: 3px;
    }
}

ul.draggable li {
    cursor: move;
    &:hover {
        background: $grey-light;
    }
}