@mixin font-heading() {
    font-family: Orbitron, monospace;
}

@mixin font-body() {
    font-family: 'Open Sans', sans-serif;
}

@mixin border($side: 'all', $width: 2) {
    border-style: solid;
    border-width: 0;
    border-image:
        repeating-linear-gradient(
            -45deg,
            $grey-lighter,
            $grey-lighter 5px,
            $grey-light 5px,
            $grey-light 10px
        ) $width;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

    @if $side == 'all' {
        border-width: #{$width}px;
    }

    @else {
        border-#{$side}-width: #{$width}px;
    }
}
