@import "~bulma/sass/utilities/initial-variables";

// Spacing
$base-spacing: 1rem;
$content-heading-weight: normal;

// Text colours
$text: $white;
$text-light: $white-ter !default;
$text-strong: $white !default;
$title-color: $white;
$label-color: $white;

// Other colours
$blue: #6ddbf5;
$grey-darker:  hsl(0, 0%, 5%);
$grey-dark:    hsl(0, 0%, 10%);
$grey:         hsl(0, 0%, 15%);
$grey-light:   hsl(0, 0%, 20%);
$grey-lighter: hsl(0, 0%, 25%);

// Primary colours
$primary: $grey-dark;


// Borders and backgrounds
$border: $grey-light;
$background: $grey;

// Corners
$radius: 0;
$radius-large: 0;
$radius-rounded: 0;

// Modals
$modal-background-background-color: rgba($black, 0.8);

$modal-card-head-background-color: rgba($background, 0.9);
$modal-card-head-border-bottom: 1px solid $border;
$modal-card-foot-border-top: 1px solid $border;

$modal-card-body-background-color: rgba($grey-darker, 0.8);


// Forms
$input-background-color: rgba($white, 0.4);
$input-border-color: $grey;

// Cards
$card-background-color: $background;
$card-header-background-color: $grey-dark;
$card-header-padding: $base-spacing;
//$card-header-weight: $weight-bold !default
//
//$card-content-background-color: transparent !default
//$card-content-padding: 1.5rem !default
//
//$card-footer-background-color: transparent !default
//$card-footer-border-top: 1px solid $border !default
$card-footer-padding: $base-spacing;
